Django==2.0.2
django-appconf==1.0.2
django-bootstrap-form==3.4
django-filter==2.0.0.dev1
django-imagekit==4.0.2
django-reversion==2.0.13
gunicorn==19.9.0
Markdown==2.6.11
pilkit==2.0
Pillow==5.2.0
pinax-blog==7.0.4
pinax-images==3.0.1
pinax-templates==2.0.1
pkg-resources==0.0.0
psycopg2-binary==2.7.4
py3dns==3.2.0
Pygments==2.2.0
pyLibravatar==1.7
pytz==2018.5
raven==6.9.0
six==1.11.0
