{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "New Password" %}{% endblock %}

{% block content %}
<section class="bg-light" id="password-reset">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{% trans "New Password" %}</h2>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            {% if validlink %}
              <p>{% trans "Please enter your new password twice." %}</p>
              <form id="password-reset-form" method="post" action="">
                <div class="row">
                  {% csrf_token %}
                  {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                  {% endfor %}
                  <div class="col-md-6 offset-md-3">
                    <div class="form-group{% if form.new_password1.errors %} is-invalid{% endif %}">
                      <input type="password" id="id_new_password1" name="new_password1" class="form-control" placeholder="{% trans "New Password *" %}" required>
                    </div>
                  </div>
                  <div class="col-md-6 offset-md-3">
                    <div class="form-group{% if form.new_password2.errors %} is-invalid{% endif %}">
                      <input type="password" id="id_new_password2" name="new_password2" class="form-control" placeholder="{% trans "Repeat New Password *" %}" required>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12">
                    <ul class="errorlist">
                    {% for field in form %}
                      {% if field.errors %}
                        {% for error in field.errors %}
                          <li>{{ field.label }}: {{ error|escape }}</li>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                    </ul>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12">
                    <button type="submit" class="btn btn-success btn-xl text-uppercase">{% trans "Reset" %}</button>
                  </div>
                </div>
              </form>
            {% else %}
            <h3 class="errorlist">{% trans "The password reset link is invalid!" %}</h3>
            <p>{% trans "Possibly because it has already been used." %}</p>
            <p>{% trans "Please, request a new password reset." %}</p>
            <a href="{% url 'password-reset' %}" class="btn btn-primary text-uppercase">{% trans "Request new password" %}</a>
            {% endif %}
          </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footerclass %}bg-dark{% endblock %}
