{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "New Password" %}{% endblock %}

{% block content %}
<section class="bg-light" id="password-reset">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{% trans "New Password" %}</h2>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>{% trans "Your password has been successfully updated." %}</p>
            <p>{% trans "You may go ahead and log in now." %}</p>
            <a href="{% url 'login' %}" class="btn btn-primary text-uppercase">{% trans "Login" %}</a>
          </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footerclass %}bg-dark{% endblock %}
