{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "FAQ" %}{% endblock %}

{% block content %}
    <section class="bg-secondary" id="faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{% trans "Frequently Asked Questions" %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="service-heading">GNU Nedir?</h4>
        <p>
            GNU Projesi 1983 yılında Richard M. Stallman tarafından başlatılan Özgür Yazılım hareketine verilen isimdir.
            İsim olarak GNU hayvanının seçilmesine neyin sebep olduğu bilinmemektedir ancak tüm dünyada bu sembolle anılmaktadır.
            "GNU bir kısaltma mıdır?" sorusunun cevabını ise Stallman bir röportajında "GNU is Not Unix" olarak vermiştir.
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">İTÜ Özgür Yazılım Kulübü nedir?</h4>
        <p>
            İTÜ Özgür Yazılım Kulübü (ITUGnu) adından anlaşılacağı üzere Teknik Üniversite bünyesinde faaliyetlerine devam
            eden bir okul kulübüdür. Kuruluş ve faaliyet amacı başta İTÜ bünyesinde olmak üzere Türkiye genelinde Özgür
            Yazılım felsefesinin yaygınlaştırılması, Özgür Yazılımların kullandırılmaya teşvik edilmesi ve anlaşılmasını
            sağlamaktır. Bu çerçevede dönemlik olarak yazılım dilleri ve özgür teknolojiler üzerine eğitim, kurs ve
            seminerler düzenler.
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">Etkinliklere katılmak için İTÜ mensubu olmak zorunlu mu?</h4>
        <p>
            Hayır değil. Etkinlik, eğitim ve kurslarımızda öncelik İTÜ öğrenci ve personeline verilse de genel olarak
            kulübümüze üye olan herekese açıktır. Kulübe üyelik için de İTÜ mensubu olma şartı aranmamaktadır. Sitemizin
            en altında bulunan Facebook linki ile kaydolma sayfasına ulaşabilirsiniz. Haricen resmi kayıt olmak için
            yenilenen yüzüyle Web sitemize üye olursanız girmiş olduğunuz e-posta adresi üzerinden mail gruplarımıza
            dahil edileceksiniz.
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">Eğitimler ücretli mi?</h4>
        <p>
            Hayır değil. Kulübümüz bünyesinde yapılan hiç bir etkinlik ve eğitimde kulübümüz ve eğitmenlerimiz para
            kazanmamaktadır. Gönüllülük esasına dayalı ve bilginin özgürlüğünü şiar edinmiş kulüp üyelerimiz ve yönetim
            kurulumuz bu hizmetleri sizlere sunmaktadır.

            Ancak zaman zaman eğitime katılan üyelerimizden bizlere destek olmak isteyenlere, topluma ve insanlığa faydalı
            olmak adına TEMA Vakfı, hayvan barınakları gibi kuruluşlara bağışta bulunmalarını telkin ediyoruz.
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">Eğitimlerde GNU/Linux harici bir işletim sistemi kullanabilir miyim?</h4>
        <p>

        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}

