{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "FAQ" %}{% endblock %}

{% block content %}
<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{% trans "Frequently Asked Questions" %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="service-heading">{% trans "What GNU" %}</h4>
        <p>
            {% trans "GNU" %}
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">{% trans "What ITUGnu" %}</h4>
        <p>
            {% trans "ITUGnu" %}
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">{% trans "What Membership" %}</h4>
        <p>
            {% trans "Membership" %}
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">{% trans "What Paid" %}</h4>
        <p>
            {% trans "Money" %}
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">{% trans "What GNULinux" %}</h4>
        <p>
            {% trans "GNULinux" %}
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">{% trans "What No Linux" %}</h4>
        <p>
            {% trans "No Linux" %}
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">{% trans "What Computer" %}</h4>
        <p>
            {% trans "Computer" %}
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">{% trans "What Lecture" %}</h4>
        <p>
            {% trans "Lecture" %}
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">{% trans "What Attendance" %}</h4>
        <p>
            {% trans "Attendance" %}
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">{% trans "What Capacity" %}</h4>
        <p>
            {% trans "Capacity" %}
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">{% trans "What Cypher" %}</h4>
        <p>
            {% trans "No Cypher Yes Password" %}
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">{% trans "What Security" %}</h4>
        <p>
            {% trans "Very Security" %}
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block footerclass %} class="bg-dark"{% endblock %}
