{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "FAQ" %}{% endblock %}

{% block content %}
<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{% trans "Frequently Asked Questions" %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="service-heading">GNU Nedir?</h4>
        <p>
            GNU Projesi 1983 yılında Richard M. Stallman tarafından başlatılan Özgür Yazılım hareketine verilen isimdir.
            İsim olarak GNU hayvanının seçilmesine neyin sebep olduğu bilinmemektedir ancak tüm dünyada bu sembolle anılmaktadır.
            "GNU bir kısaltma mıdır?" sorusunun cevabını ise Stallman bir röportajında "GNU is Not Unix" olarak vermiştir.
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">İTÜ Özgür Yazılım Kulübü nedir?</h4>
        <p>
            İTÜ Özgür Yazılım Kulübü (ITUGnu) adından anlaşılacağı üzere Teknik Üniversite bünyesinde faaliyetlerine devam
            eden bir okul kulübüdür. Kuruluş ve faaliyet amacı başta İTÜ bünyesinde olmak üzere Türkiye genelinde Özgür
            Yazılım felsefesinin yaygınlaştırılması, Özgür Yazılımların kullandırılmaya teşvik edilmesi ve anlaşılmasını
            sağlamaktır. Bu çerçevede dönemlik olarak yazılım dilleri ve özgür teknolojiler üzerine eğitim, kurs ve
            seminerler düzenler.
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">Etkinliklere katılmak için İTÜ mensubu olmak zorunlu mu?</h4>
        <p>
            Hayır değil. Etkinlik, eğitim ve kurslarımızda öncelik İTÜ öğrenci ve personeline verilse de genel olarak
            kulübümüze üye olan herekese açıktır. Kulübe üyelik için de İTÜ mensubu olma şartı aranmamaktadır. Sitemizin
            en altında bulunan Facebook linki ile kaydolma sayfasına ulaşabilirsiniz. Haricen resmi kayıt olmak için
            yenilenen yüzüyle Web sitemize üye olursanız girmiş olduğunuz e-posta adresi üzerinden mail gruplarımıza
            dahil edileceksiniz.
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">Eğitimler ücretli mi?</h4>
        <p>
            Hayır değil. Kulübümüz bünyesinde yapılan hiç bir etkinlik ve eğitimde kulübümüz ve eğitmenlerimiz para
            kazanmamaktadır. Gönüllülük esasına dayalı ve bilginin özgürlüğünü şiar edinmiş kulüp üyelerimiz ve yönetim
            kurulumuz bu hizmetleri sizlere sunmaktadır.

            Ancak zaman zaman eğitime katılan üyelerimizden bizlere destek olmak isteyenlere, topluma ve insanlığa faydalı
            olmak adına TEMA Vakfı, hayvan barınakları gibi kuruluşlara bağışta bulunmalarını telkin ediyoruz.
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">Eğitimlerde GNU/Linux harici bir işletim sistemi kullanabilir miyim?</h4>
        <p>
            Eğitimlerimizde özgür olmayan işletim sistemli makinaları kullanmanız yasaktır. Özellikle W*ndows işletim
            sistemlerinin kabulu ve desteği kesinlikle olmamaktadır. Unix tabanlı MacBook makinaların durumu ise camiada
            henüz net bir karara bağlanmadığından kullanabilirsiniz. Ancak MacOS işletim sistemine ait destek de tarafımızdan
            sağlıklı şekilde verilememektedir. Sanal ortamda da olsa bir GNU/Linux işletim sistemi kullanmanız faydanıza
            olacaktır.
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">GNU/Linux yüklemeyi bilmiyorum. Ne yapmalıyım?</h4>
        <p>
            Kulüp üyelerimiz veya eğitmenlerimizden biriyle iletişime geçmeniz dahilinde sizlere bireysel kurulum desteği
            kulübümüz tarafından sağlanmaktadır.
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">Eğitimlere kendi bilgisayarımızla mı gelmeliyiz?</h4>
        <p>
            Evet. Eğitimlerimiz labaratuarlarda değil normal amfi ve sınıflarda yapılmaktadır. Dolayısı ile kendi
            bilgisayarlarınızı getirmeniz gerekmektedir. Eğer taşınabilir bir bilgisayarınız yok ise ya da farklı bir
            sorundan dolayı getiremiyorsanız lütfen bizimle iletişime geçiniz.
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">Aynı anda birden fazla eğitime katılabilir miyim?</h4>
        <p>
            Eğitim saatleri çakışmadığı sürece ve eğitimlerden kabul aldığınız takdirde istediğiniz eğitime istediğiniz
            anda katılabilirsiniz.
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">Eğitimlerde devam zorunluluğu var mı?</h4>
        <p>
            Evet. Eğitimlerimizin tamamında sıkı bir yoklama takibi yapılmaktadır. Eğitimlere mazeretsiz devamsızlık
            yapmanız halinde kara listeye alınacak ve devam eden eğitimlerden de kaydınız düşürülecektir. Ayrıca bizimle
            aynı mantıkta hareket eden tüm İTÜ kulüpleri ile iletişime geçip, etkinliklere kabul edilmemeniz için
            elimizden geleni yapacağız :).
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">Eğitime kabul almasam da gelip dersleri dinleyebiliyor muyum?</h4>
        <p>
            Hayır. Eğitimlerimiz sınıfın kapasitesine ve/veya eğitmenin tercihlerine göre öğrenci kabul etmektedir.
            Bu sebeple kontenjanı aşmamız mümkün değil.
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">Parola ile şifre aynı şey değil mi? Neden insanları bu konuda darlıyorsunuz?</h4>
        <p>
            Hayır değil. Parola ile şifre birbiri ile alakasız iki farklı terimdir. Parola paroladır, şifre de şifredir.
            İnsanı delirtmeyin! Her yerde parolaya şifre denmesi cahilliği bunu sizin de yapmanız için size hak tanımaz.
        </p>
      </div>
      <div class="col-md-12">
        <h4 class="service-heading">Kayıt sırasında alınan kişisel bilgilerimin güvenliğinden nasıl emin olabilirim?</h4>
        <p>
            itugnu.org web sitesine kayıt sırasında alınan bilgilerden hiç biri her hangi bir servis sağlayıcı ile
            paylaşılmamaktadır. Ayrıca girdiğiniz bilgiler yedek sunucularda vs. kayıt altına alınmamaktadır. Girdiğiniz
            paralolar dahi şifrelenerek tarafımızdan okunamamaktadır.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block footerclass %}bg-dark{% endblock %}
