{% extends "base.html" %}
{% load i18n static %}
{% load pinax_blog_tags %}


{% block title %}{% trans "Software Freedom Club" %}{% endblock %}

{% block headercontent %}
<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">{% trans "ITU Software Freedom Club" %}</div>
      <div class="intro-heading text-uppercase">{% trans "Free as in Freedom" %}</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#lectures">{% trans "Events | Lectures" %}</a>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<!-- Services -->
<section id="blog">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase"><a href="/blog" class="text-dark"> {% trans "Blog" %} </a></h2>
          </div>
            {% if posts %}
                {% for post in posts %}
              <div class="jumbotron col-lg-12" style="padding: 2% 5% 2% 5%;">
                    <h2 class="text-dark display-5"><a href="{{ post.get_absolute_url }}" class="text-dark">{{ post.title }}</a></h2>
                    <hr class="my-6">
                    {% include "pinax/blog/dateline.html" %}
                    <p class="text-left lead">{{ post.teaser_html|safe }}</p>
                    <p class="text-right"><a href="{{ post.get_absolute_url }}" class="btn btn-outline-secondary" style="alignment: right">read more...</a></p>
                </div>
                {% endfor %}
            <div class="col">
            <h3 class="display-9 text-right">{% trans "<a href='/blog'>Click here</a> to see other posts." %}</h3>
            </div>
          {% else %}
                <br>
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">{% trans "No blog posts yet." %}</h3>
                </div>
          {% endif %}
  </div>
  </div>
</section>
<!-- Lectures Grid -->
<section class="bg-light" id="lectures">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{% trans "Events | Lectures" %}</h2>
        <h3 class="section-subheading text-muted"><a href="{% url 'lectures-index' %}" title="{% trans "All activities" %}">{% trans "See all activities" %}</a></h3>
      </div>
    </div>
    <div class="row">
      {% if lectures %}
      {% for lecture in lectures %}
      <div class="col-md-4 col-sm-6 lecture-item">
        <a class="lecture-link" data-toggle="modal" href="#lectureModal{{ lecture.pk }}">
          <div class="lecture-hover">
            <div class="lecture-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          {% if lecture.poster %}
            <img class="img-fluid" src="{{ lecture.poster.url }}" alt="{{ lecture.name }}">
          {% else %}
            <img class="img-fluid" src="{% static "img/lecture/poster.png" %}" alt="{{ lecture.name }}">
          {% endif %}
        </a>
        <div class="portfolio-caption">
          <h4>
            {% if lecture.is_registration_open %}
              <i class="fa fa-star" title="{% trans "Open for Registration" %}"></i>
            {% else %}
              <i class="fa fa-exclamation-circle" title="{% trans "Registration Closed" %}"></i>
            {% endif %} {{ lecture.name }}
          </h4>
          <p class="text-muted">{{ lecture.start_date }} - {{ lecture.end_date }}</p>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="col-md-12 col-sm-12 lecture-item">
        <div class="caption text-center">
            <h3>{% trans "There is no any activities, subscribe to get new announcements." %}</h3>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>


<!-- Contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{% trans "Contact Us" %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form id="contactForm" name="sentMessage" method="post">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" id="name" type="text" placeholder="{% trans "Full Name *" %}" required>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="email" type="email" placeholder="{% trans "Email Address *" %}" required>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="phone" type="tel" placeholder="{% trans "Phone Number" %}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" id="message" placeholder="{% trans "Your Message *" %}" required></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">{% trans "Send Message" %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block contentmodals %}
{% for lecture in lectures %}
<div class="lecture-modal modal fade" id="lectureModal{{ lecture.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{ lecture.name }}</h2>
              <pre><p class="item-intro text-muted">{{ lecture.description }}</p></pre>
              <ul class="list-inline">
                <li>
                  <i class="fa fa-calendar" title="{% trans "Dates" %}"></i> {% blocktrans with start=lecture.start_date end=lecture.end_date weeks=lecture.weeks %}{{ start }} - {{ end }} ({{ weeks }} weeks){% endblocktrans %}
                  <ul>
                    {% if lecture.schedules.count %}
                    {% for schedule in lecture.schedules.all %}
                      <li>
                        {{ schedule.get_day_of_week_display }}, {{ schedule.start_time }} - {{ schedule.end_time }}
                      </li>
                    {% endfor %}
                    {% else %}
                    <li>{% trans "Schedule is not announced" %}</li>
                    {% endif %}
                  </ul>
                </li>
                <li>&nbsp;</li>
                <li>
                  <i class="fa fa-map-marker" title="{% trans "Classroom" %}"></i> {% if lecture.classroom %}{{ lecture.classroom }}{% else %}{% trans "Not Announced" %}{% endif %}
                </li>
                <li>
                  <i class="fa fa-user-secret" title="{% trans "Lecturer" %}"></i> {% if lecture.lecturer %}{{ lecture.lecturer }}{% else %}{% trans "Not Announced" %}{% endif %}
                </li>
              </ul>
              {% if lecture.is_registration_open %}
              <div id="enroll-result{{ lecture.pk }}"></div>
              <button class="btn btn-success lecture-register-button" type="button" href="" data-lecture="{{ lecture.pk }}" data-result-box="#enroll-result{{ lecture.pk }}">
                <i class="fa fa-sign-in"></i> {% trans "Enroll" %}
              </button>
              {% else %}
              <button class="btn btn-danger disabled" type="button" href="#" disabled>
                <i class="fa fa-exclamation-circle"></i> {% trans "Registration Closed" %}
              </button>
              {% endif %}
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i> {% trans "Close" %}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
