{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "Free Software Summit" %}{% endblock %}

{% block headercontent %}
<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">{% trans "Free Your Mind!" %}</div>
      <div class="intro-heading text-uppercase">{% trans "Free Software Summit" %}</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/#lectures">{% trans "Registration" %}</a>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<!-- Services -->
<section id="etkinlik" style="background-color: #b7a6a6; background-image: url('{% static "img/bground.png" %}')">
  <div class="container" align="center ! important;">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{% trans "ITU Free Software Summit in the ITU Ayazaga Campus in 28th of April!" %}</h2>
      </div>
	  <div class="col text-center">
		{% blocktrans %} 
	  	<p><strong> The first Free Software Summit which puts together the people interested in this movement and wants to learn it, will be
		hosted in Istanbul Technical University Ayazaga Campus in 28th of April. The event that academicians, students and the people
		from the sector will be coalesce, talks to anybody. At the same time, the event is important for the mission of presentation
		of the free software which is getting more and more important on all over the world. </strong></p>
		{% endblocktrans %}
	  </div>
    </div>
    <div class="row">
      <div class="col text-center">
          <h4>{% trans "Main Sponsor" %}</h4>
          <br>
          <a href="https://hipolabs.com/" target="_blank">
              <img class="d-block mx-auto img-thumbnail align-content-lg-center" src="{% static "img/hipo.png" %}">
          </a>
          <br>
      </div>
    </div>
    <div class="row">
        <div class=" col text-center">
            <h4>{% trans "Golden Sponsors" %}</h4>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col align-left">
            <a href="http://www.genomize.com/" target="_blank">
            <img class="d-block mx-auto" src="{% static "img/genomize.png" %}">
            </a>
        </div>
        <div class="col align-right">
            <a href="http://www.ogrenenler.com/" target="_blank">
            <img class="d-block mx-auto" src="{% static "img/ogrenenler_type-01.png" %}">
            </a>
        </div>
    </div>
	<div class="row">
        <div class=" col text-center">
            <h4>{% trans "Supporting Organizations" %}</h4>
            <br>
        </div>
	</div>
	<div class="row">
		<div class="col align-left">
            <a href="https://www.jetbrains.com/" target="_blank">
            <img class="d-block mx-auto" src="{% static "img/jetbrains.png" %}">
            </a>
        </div>
		<div class="col align-right">
            <a href="http://www.modyo.com.tr/" target="_blank">
            <img class="d-block mx-auto" src="{% static "img/modyo.png" %}">
            </a>
        </div>
	</div>
    <br>
    <div class="row">
        <div class="col align-content-lg-center">
            <a href="https://www.abakuskitap.com/" target="_blank">
            <img class="d-block mx-auto" src="{% static "img/abakus.png" %}">
            </a>
        </div>
    </div>
  </div>
</section>

<!-- Lectures Grid -->
<section class="bg-dark" id="konusmacilar">
  <div id="konusmacislayt" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
	<div class="row">
	  <div class="col text-center">
      <img class="d-block w-25 mx-auto img-thumbnail" src="{% static "img/konusmacilar/baris-buyukakyol.png" %}" alt="First slide">
	  <h3><strong> Barış Büyükakyol </strong></h3>
      <ul class="list-inline social-buttons">
          <li class="list-inline-item">
              <a href="https://twitter.com/barisbuyukakyol" target="_blank">
                 <i class="fa fa-twitter"></i>
              </a>
              </li>
          <li class="list-inline-item">
              <a href="http://usrb.in/" target="_blank">
                 <i class="fa fa-link"></i>
              </a>
          </li>
      </ul>
      <br>
	  <h6>{% trans "GNU Follower" %}</h6>
      <h7>{% trans "Free Software Thought" %} </h7>
	  </div>
	  <div class="col text-center">
	  <img class="d-block w-25 mx-auto img-thumbnail" src="{% static "img/konusmacilar/htu.jpg" %}" alt="First slide">
	  <h3><strong> {% trans Academician %} Hayri Turgut Uyar </strong></h3>
      <ul class="list-inline social-buttons">
          <li class="list-inline-item">
              <a href="http://akademi.itu.edu.tr/uyar/" target="_blank">
                  <i class="fa fa-link"></i>
              </a>
          </li>
      </ul>
          <br>
          <h6>{% trans "Istanbul Technical University" %}</h6>
          <h7>{% trans "Subjective Assessments about Free Software" %}</h7>
	  </div>
	</div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col text-center">
        <img class="d-block w-25 mx-auto img-thumbnail" src="{% static "img/konusmacilar/guray.jpg" %}" alt="Second slide">
	    <h3><strong> Güray Yıldırım </strong></h3>
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
              <a href="https://twitter.com/GurayYildirim" target="_blank">
                 <i class="fa fa-twitter"></i>
              </a>
          </li>
          <li class="list-inline-item">
              <a href="https://www.gurayyildirim.com.tr/" target="_blank">
                 <i class="fa fa-link"></i>
              </a>
          </li>
          <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/gryyldrm/" target="_blank">
                  <i class="fa fa-linkedin"></i>
              </a>
          </li>
          <li class="list-inline-item">
              <a href="https://medium.com/@gurayy" target="_blank">
                  <i class="fa fa-medium"></i>
              </a>
          </li>
      </ul>
        <br>
	    <h6> {% trans "Eczacibasi | ITU Graduate" %} </h6>
        <h7> {% trans "Docker" %} </h7>
	    </div>

        <div class="col text-center">
        <img class="d-block w-25 mx-auto img-thumbnail" src="{% static "img/konusmacilar/erdem.png" %}" alt="Second slide">
	    <h3> Erdem Bayer </h3>
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
              <a href="https://twitter.com/erdembayer" target="_blank">
                 <i class="fa fa-twitter"></i>
              </a>
          </li>
          <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/erdem-bayer-1633915/" target="_blank">
                 <i class="fa fa-linkedin"></i>
              </a>
          </li>
        </ul>
        <br>
	    <h6>{% trans "Ozgur Yazilım Co." %} </h6>
        <h7>{% trans "Being GNU/Linux System Administrator" %} </h7>
	    </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col text-center">
        <img class="d-block w-25 mx-auto img-thumbnail" src="{% static "img/konusmacilar/zeynep.jpeg" %}" alt="Third slide">
	    <h3> Zeynep Yurt </h3>
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/zeynepyurt/" target="_blank">
                 <i class="fa fa-linkedin"></i>
              </a>
          </li>
          <li class="list-inline-item">
              <a href="https://twitter.com/GeekEngineer_" target="_blank">
                  <i class="fa fa-twitter"></i>
              </a>
          </li>
        </ul>
        <br>
	    <h6>{% trans "Yildirim Beyazit University" %}</h6>
        <h7>{% trans "Vagrant UP!" %}</h7>
	    </div>

        <div class="col text-center">
        <img class="d-block w-25 mx-auto img-thumbnail" src="{% static "img/konusmacilar/ihsan.jpg" %}" alt="Third slide">
	    <h3> Ahmed İhsan Erdem </h3>
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
              <a href="https://twitter.com/ahmedihsanerdem" target="_blank">
                 <i class="fa fa-twitter"></i>
              </a>
          </li>
          <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/ihsanerdem/" target="_blank">
                 <i class="fa fa-linkedin"></i>
              </a>
          </li>
        </ul>
        <br>
	    <h6> {% trans "ITU Free Software Club" %}</h6>
        <h7> {% trans "Free Software in ITU" %}</h7>
	    </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#konusmacislayt" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#konusmacislayt" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>


<!-- Contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{% trans "Contact Us" %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form id="contactForm" name="sentMessage" method="post">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" id="name" type="text" placeholder="{% trans "Name-Surname*" %}" required>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="email" type="email" placeholder="{% trans "E-mail Address*" %}" required>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="phone" type="tel" placeholder="{% trans "Phone Number" %}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" id="message" placeholder="{% trans "Message*" %}" required></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">{% trans Submit %} </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block footerclass %}bg-dark{% endblock %}
