{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block content %}
<section class="bg-light" id="registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{% trans "Registration" %}</h2>
            </div>
        </div>
        <div class="row text-center">
            <form id="registration-form" method="post" action="">
              {% csrf_token %}
              {% if request.GET.next %}
                <input type="hidden" hidden class="hidden" name="next" value="{{ request.GET.next }}">
              {% endif %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
              <table class="table-responsive">
                {{ form }}
              </table>
              <button type="submit" class="btn btn-success">{% trans "Register" %}</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block footerclass %} class="bg-dark"{% endblock %}
