#languageForm {
    display: inline;
}
.pt1 {
  padding-top: 1rem;
}
.pt2 {
  padding-top: 2rem;
}
.pt3 {
  padding-top: 3rem;
}
.nav-logo {
  width: 1.75rem;
  height: auto;
}
#mainNav.navbar-shrink .navbar-brand .nav-logo {
  width: 1.25rem;
}
.img-avatar {
    height: 6em;
    margin: 0 10px;
    border-radius: 50em;
    vertical-align: middle;
    border-style: none;
}
.bg-dark {
    color: #eeeeee;
}
.bg-light a {
  color: #4584b6;
}
.default-footer a {
  color: #4584b6;
}
.filter-form {
    font-style: normal !important;
}
.notice-heading {
  display: list-item;
}
ul.upper-roman {
  list-style-type: upper-roman;
}
a.auth-button {
  color: #ffffff;
}
.is-invalid input {
  border-color: #dc3545;
}
.errorlist {
  color: #ff0000;
}
input.phone-input {
  -moz-appearance:textfield;
}
input.phone-input::-webkit-inner-spin-button,
input.phone-input::-webkit-outer-spin-button,
input.phone-input:hover::-webkit-inner-spin-button,
input.phone-input:hover::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.nav-dark-default {
    background-color: #212529 !important;
}
.bg-dark {
    background-color: #212529 !important;
}
@media (max-width: 480px) {

    .modal {
        height: 500px; /* Set a default max height of the modal (adjusted later)*/
        position: fixed; /* Display modal in the centre of your screen */
        overflow-y: scroll; /*  Ensure that the modal is scroll-able */
        -webkit-overflow-scrolling: touch; /* Avoid having to use 2 finger scroll on iOS    */
    }
    .modal.fade.in{
        top: 5px; /* Use more screen real estate */
    }
    .modal-body{
        /* Increase the max height of the modal body to try & avoid both it,
         * and the modal container having scroll bars which results in odd behavior */
        max-height: 2400px;
    }
}

/* Now adjust the height so it handles various screen sizes & orientations */
/* You could make this as granular as you like, or have it more granular at common screen sizes
 * but it should start at the height we set on .modal (i.e. 500px) & work down */
@media (max-width: 480px) and (max-height: 500px){.modal{ height: 450px}}
@media (max-width: 480px) and (max-height: 450px){.modal{ height: 400px}}
@media (max-width: 480px) and (max-height: 400px){.modal{ height: 350px}}
@media (max-width: 480px) and (max-height: 350px){.modal{ height: 300px}}
@media (max-width: 480px) and (max-height: 300px){.modal{ height: 250px}}
@media (max-width: 480px) and (max-height: 250px){.modal{ height: 200px}}
@media (max-width: 480px) and (max-height: 200px){.modal{ height: 150px}}
/* Mobile views */
@media only screen and (max-width: 768px) {
  .auth-button {
    margin-top: 1rem;
  }
}
