#languageForm {
    display: inline;
}
.pt3 {
  padding-top: 3rem;
}
.nav-logo {
  width: 1.75rem;
  height: auto;
}
#mainNav.navbar-shrink .navbar-brand .nav-logo {
  width: 1.25rem;
}
.img-avatar {
    height: 6em;
    margin: 0 10px;
    border-radius: 50em;
    vertical-align: middle;
    border-style: none;
}
.bg-dark {
    color: #eeeeee;
}
.bg-light a {
  color: #4584b6;
}
.default-footer a {
  color: #4584b6;
}
.filter-form {
    font-style: normal !important;
}
.notice-heading {
  display: list-item;
}
ul.upper-roman {
  list-style-type: upper-roman;
}
a.auth-button {
  color: #ffffff;
}
.is-invalid input {
  border-color: #dc3545;
}
.errorlist {
  color: #ff0000;
}
